:root {
    --accent-color: #2196F3;
    --headline-color: #212121;
    --text-color: #757575;
    --bg-color: #F5F5F5;
    --black-color: #000;
    --bg-color-black: #2F303A;
    --white-color: #FFF;
    --bg-color-grey: #F5F4FA;
    --white-color-opacity: rgba(255,255,255,0.6);
    --bg-hero: #C4C4C4;
    --transition-speed: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    color: var(--text-color);
    background-color: var(--white-color); 
}

h1, h2, h3, h4, h5, h6, p{
   margin: 0;
   padding: 0;
}

.section {
   padding: 94px 0;
}

.container {
    margin: auto;
    width: 1200px;   
    padding: 0 15px;
}

.relative-container {
   position: relative;
   overflow: hidden;
 }

.list-items {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;    
}

.images {
   display: block;
   max-width: 100%;
   height: auto;
}

.social-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;    
   border-radius: 50%;   
}

.icon-social {
   width: 20px;
   height: 20px;
   fill: currentColor;
}

.head-links {
    background-color: var(--white-color);   
    width: 100%;
    height: 80px;
    padding: 24px 0 25px;
    border-bottom: 1px solid #ECECEC;}


.head-links > .container,
.top-menu {
    display: flex;
    align-items: center;   
}

.top-menu {
    gap: 93px;
}

.li-relative {
   position: relative;
}

.head-links .list-items {
    gap: 50px;
    margin-left: auto;
}

.logo {
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    letter-spacing: 0.03em;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    color: var(--accent-color);
    width: 145px;    
}

.logo>.black {
    color: var(--black-color);
}

.logo>.white {
    color: var(--white-color);
}

 
 .portfolio {
    background-color: var(--white-color);
 }

 .list-items.filters {
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
 }

 .list-items.gallery {      
    justify-content: space-between;
    gap: 30px;
 }

 .list-items .filter {   
     font-weight: 500;
     line-height: 1.625;
     letter-spacing: 0.03em;
     color: var(--headline-color);
     background-color: var(--bg-color-grey);
     text-align: center;
     padding: 6px 22px;
     border-radius: 4px;
     border: 0;  
     cursor: pointer;
     transition: color var(--transition-speed), background-color var(--transition-speed),
     box-shadow var(--transition-speed);   
 }

 .list-items .filter:hover,
 .list-items .filter:focus {
     color: var(--white-color);
     background-color: var(--accent-color);     
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
     0px 1px 2px rgba(0, 0, 0, 0.08), 
     0px 2px 2px rgba(0, 0, 0, 0.12);
     
 }

.link {
    text-decoration: none;
    color: var(--text-color);    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-speed);
}

.top-menu .link {
    color: var(--headline-color);    
}

.top-menu .link.current::after {
   content: "";
   display: block;
   position: absolute;
   margin-top: 28px;   
   width: 100%;
   height: 4px;
   background-color: #2196F3;
   

}

.link.contact {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.link.current,
.link:hover,
.link:focus {
    color: var(--accent-color);
    
}

.icon-contact {
   fill: currentColor;
}

.card-link {
    text-decoration: none;
    color: var(--text-color);     
    display: block;   
    transition: box-shadow var(--transition-speed); 
}

.card-link:hover {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
   0px 4px 4px rgba(0, 0, 0, 0.06), 
   1px 4px 6px rgba(0, 0, 0, 0.16);
}

 .open-up {
   position: absolute;
   background-color: rgba(33, 150, 243, 0.9);    
   width: 100%;
   height: 100%;   
   transform: translateY(0);
   transition: transform var(--transition-speed);
   padding: 63px 24px;
}
  
.card-link:hover .open-up {   
   transform: translateY(-100%);  
}

.open-up-text {
   font-size: 18px;
   line-height: 1.556;
   letter-spacing: 0.03em;
   color:var(--white-color);
}

.gallery-text {
    padding: 20px 24px  19px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.card-link .name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--headline-color);
    letter-spacing: 0.06em;
    margin: 0 0 4px;
}

.card-link .type {    
    line-height: 1.875;
    letter-spacing: 0.03em;
    margin: 0;
}

.hero {
   background-image: linear-gradient(to right,
   rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url("../images/banner.jpg");
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--bg-hero);
   background-size: cover;
   padding: 200px 0;
}

.hero > .container {    
   text-align: center;
}

.main-header {
   width: 696px;
   margin: 0 auto 30px;  
   text-transform: uppercase;
   font-size: 44px;
   font-weight: 900;
   line-height: 1.36;
   color: var(--white-color);
   letter-spacing: 0.06em ;
   
}

 .big-button {    
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--white-color);
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;   
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 }
 

/* ADVANTAGES SECTION BEM */

.advantages__headline,
.portfolio__headline  {
   display: none;
}

.advantages__list-items,
.directions__list-items,
.team__list-items {   
   justify-content: space-between;
} 

.advantages__list-item {
   width: 270px;    
}

.advantages__icon-wrapper {
   width: 270px;
   height: 120px;
   background-color: var(--bg-color-grey);
   border-radius: 4px;
   margin-bottom: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.advantages__icon {  
   width: 70px; 
   height: 70px;    
}  

.advantages__features {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--headline-color);
   margin-bottom: 10px;
}

.advantages__description {
   font-size: 14px;
   line-height: 1.714;
   letter-spacing: 0.03em;   
}

/* DIRECTIONS SECTION BEM */

.directions {
   padding-top: 0;
}

.directions__headline,
 .team__headline,
 .clients__headline {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--headline-color);  
   margin-bottom: 50px;
 }

 .directions__label {
   position: absolute;
   bottom: 0;
   background-color:rgba(47, 48, 58, 0.8);
   width: 100%;
   padding: 27px;
 }

 .directions__text {   
   font-size: 14px;
   line-height: 1.145;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--white-color);
   margin: 0;
 }


/* TEAM SECTION BEM */

 .team {
     background-color: var(--bg-color-grey);
 }

 .team__member-card {
   background-color: var(--white-color);     
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
   0px 1px 1px rgba(0, 0, 0, 0.14), 
   0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
 }

 .team__textbox {
    padding: 30px 0;
    background-color: var(--white-color);
 }

 .team__name {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.2;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--headline-color);
     margin-bottom: 10px;
 }

 .team__profession {
     text-align: center;
     line-height: 1.2;
     letter-spacing: 0.03em;
     margin: 0 0 16px;
 }

 .team__social-wrapper {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--white-color);
 }

 .team__social-link {    
    color: #AFB1B8;  
    transition: background-color var(--transition-speed), color var(--transition-speed);  
 }

 .team__social-link:hover, .team__social-link:focus{
   background-color: #2196F3;
   color: #FFF;
   
 }

 .logos {
    display: flex;
    justify-content: space-between;
 }

 .client-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 170px;
   height: 92px;
   border: 1px solid #AFB1B8;
   border-radius: 4px;   
   color: #AFB1B8;
   transition: border-color var(--transition-speed), color var(--transition-speed);
 }

 .client-logo:hover, .client-logo:focus {
   border-color: #2196F3;
   color: #2196F3;
  

 }
 .icon-logo {
    width: 106px;
    height: 60px;   
    fill: currentColor; 
 }

 .footer-block {
    background-color: var(--bg-color-black);  
    padding: 60px 0;
 }

 .footer-block .container {
   display: flex;
   align-items: baseline;    
 }

 .footer-left-block {
   margin-right: 70px;
 }
 
 .address-text {    
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    color: var(--white-color);
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 20px;
    width: 231px;
 }

 .office {
    margin: 0;
 }

 .contacts {
    margin-top: 9px;
 }

 .address-text > .list-items {
    display: block;
 } 

 .address-text .link {
    color: var(--white-color-opacity);
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.03em; 
    display: inline-block;     
    
 }
  .address-text .link:hover,
  .address-text .link:focus{
      color: var(--accent-color); 
      transition: color var(--transition-speed);     
  } 

  .footer-social {
   margin-right: 93px;     
  }

  .footer-social-wrapper {
      display: flex;
      gap: 10px;      
      flex-wrap: nowrap;
  }

  .footer-social-wrapper .social-link {
   color: #FFF;
   background-color: rgba(255, 255, 255, 0.1);   
  }

  .footer-social-wrapper .social-link:hover {
     background-color: #2196F3;
     transition: background-color var(--transition-speed);
  }

  .headline-social {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--white-color);
      margin: 0 0 20px;  
   }
 
  .footer-form-wrapper {
      display: flex;
  }

  .footer-input {
   width: 358px;
   height: 50px;   
   background-color: transparent;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   padding: 0 16px;
   color: var(--white-color);
  }

  .footer-input::placeholder {
   padding-left: 16px;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;   
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
  }  

  .subscribe {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-left: 4px;
   
  }

  .big-button.plane {
   padding: 10px 28px;
   margin-left: 12px;
  }

  .icon-send {
   width: 24px;
   height: 24px;
   fill: var(--white-color);
  }

  .overlay {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
  }

  .overlay.is-hidden {
   opacity: 0;
   pointer-events: none;
  }

  .overlay.is-hidden .modal {
   opacity: 0;
   transform: translate(-50%, 70%) scale(0.1);
  }

  .modal {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 528px;
   height: 581px;
   padding: 40px;
   background-color: var(--white-color);
   transform: translate(-50%, -50%) scale(1);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 
   0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   opacity: 1;
   transition: transform var(--transition-speed), opacity var(--transition-speed);
  }
  
  .close-button {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 8px;
   right: 8px;   
   padding: 0;  
   width: 30px;
   height: 30px;  
   background: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   cursor: pointer;
  }

  .close-button:hover {   
   color: var(--accent-color);
  }

  .icon-close {
   width: 18px;
   height: 18px;
   fill: currentColor;
  }


  .form-contacts {
   margin-top: 2px;   
  }

 .form-headline {   
   font-size: 20px;
   line-height: 1.15;  
   text-align: center; 
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 12px;
 }

 .input-container {
   position: relative;  
   margin-bottom: 10px; 
 }
 
  .modal-input {
   display: block;
   width: 448px;
   height: 40px;
   padding-left: 42px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;   
   color: var(--headline-color);
  }

  .modal-input:hover, .modal-input:focus {
   border-color: var(--accent-color)
  }

  .modal-input:hover ~ .icon-input {
   fill: var(--accent-color);
  }

  .modal-input:focus ~ .icon-input {
   fill:var(--accent-color);
  }

  .input-label {
   display: block;
   margin-bottom: 4px;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.01em;
   color: #757575;
  }

  .icon-input {
   position: absolute;
   display: block;
   left: 12px;
   bottom: 11px;
   width: 18px;
   height: 18px;
   fill: var(--headline-color);
  }

  .text-comment {
   display: block;   
   width: 448px;
   height: 120px;
   padding: 11px 15px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   resize: none;
  }

  .text-comment::placeholder {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.167;
   letter-spacing: 0.01em;
   color: rgba(117, 117, 117, 0.5);
  }

  .text-comment:hover, .text-comment:focus {
   border-color: var(--accent-color);
  }

  .agree-container {
   display:flex;
   justify-content: center;   
   margin: 20px 0 30px;   
  }

  .agree-label {
   display:flex;
   align-items: center;
   align-items: center;
   gap: 7px;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.714;
   letter-spacing: 0.03em;
   color: #757575;    
  }

  .checkbox {
   appearance: none;
   position: absolute;
  }

  .icon-check {   
   width: 16px;
   height: 15px;
   fill: white;
   transition: background-color var(--transition-speed), border-radius var(--transition-speed);
  }

  .checkbox:checked + .icon-check {
   background-color: var(--accent-color);
   border-radius: 2px;
  }

  .checkbox:checked + .icon-check .unchecked{
   opacity: 0;
  }

  .icon-check .unchecked {
   transition: opacity var(--transition-speed);   
  }
  
  .simple-link {
   color: var(--accent-color);
   text-underline-position: under;
  }

  .big-button.send {
   padding: 10px 52px;
   display: block;
   margin: 0 auto;
  }